@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Tenor+Sans&display=swap');
body {
	background-color: #1f2d3b;
	color: Ivory;
	font-family: "Finlandica", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-indent: 20px;
}
a{
    text-decoration: none;
}


body::-webkit-scrollbar {
    display: none;
  }









.cont {
	width: 60%;
	padding-left: 70px;
	margin: 0 auto;
}
h1 {
	text-align: center;
}
.text {
	width: 100%;
	text-align: justify;
}
.cherta {
	height: 1px;
	background-color: white;
	width: 70%;
}
b {
	color: orange;
}
.code {
	width: 80%;
	border-radius: 10px;
	border: 1px solid white;
	background-color:black;
	padding: 15px 0 15px 30px;
	font-family: Consolas;
}

li {
    text-indent: 0px;
}
table {
	margin-left: 10%;
	width: 70%;
	text-align: left;
	border-spacing: 0;
	border-radius: 5px;    
    border: 1px solid grey;
    text-indent: 0px;

}
th {
	text-align: center;
	height: 30px;
    padding: 5px;
    text-indent: 0px;
}
td {
	height: 30px;
	padding-left: 10px;
    padding: 5px;
    text-indent: 0px;
}
.code {
    width: 80%;
    border-radius: 10px;
    border: 1px solid grey;
    background-color:black;
    padding: 15px 0 15px 30px;
    font-family: Consolas;
}

.test {
  text-indent: 0px;
}

